<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mello.dao.DepartmentDao">
    <resultMap id="baseResultMap" type="com.mello.domain.Department">
        <result column="id" property="id"/>
        <result column="department_name" property="name"/>
        <result column="employee_id" property="eId"/>
    </resultMap>
    <parameterMap id="Department" type="com.mello.domain.Department"/>
    <sql id="baseColumnList">
        id,department_name,employee_id
    </sql>
    <select id="findByAll" resultMap="baseResultMap">
        SELECT 
        <include refid="baseColumnList"/>
        FROM department
        <where>
            1=1
            <if test="id!=null and id!=''">
                AND id=#{id}
            </if>
            <if test="name!=null and name!=''">
                AND department_name LIKE CONCAT(CONCAT('%',#{name},'%'))
            </if>
        </where>
    </select>
    <select id="findById" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM department
        WHERE id=#{id}
    </select>
    <insert id="saveDepartment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO 
        department(department_name,employee_id)
        VALUES (#{name},#{eId})
    </insert>
    <update id="updateDepartment">
        UPDATE department
        SET 
        <if test="name!=null">
            department_name=#{name},
        </if>
        <if test="eId!=null">
            employee_id=#{eId}
        </if>
        WHERE id=#{id}
    </update>
    <delete id="deleteByIds">
        DELETE FROM department
        WHERE id IN
        <foreach item="idItem" collection="array" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
</mapper>